.form-group {
    width: 60%;
    margin-left: 2%;
    margin-right: 5%;
}
.container {
    height: 100%;
}

#iframe-qa {
    /*margin-top: 2%;*/
    width: 100%;
    /*display: none;*/
    border:0px;
    height: 100%;
}

#iframe-container {
   height: 80%;
   float: left;
   width: 80%
}

#related-container {
   margin-left: 85%;
   display: none;
}

#qa-response {
    margin-top: 5%;
    height: 100%;
}

html, body {
    height: 100%;
}

#username-container {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 5% 5px 1%;
    background: #FFFFFF;
}

#container {
    position: absolute;
    top: 0px;
}