.form-group {
    width: 60%;
    margin-left: 2%;
    margin-right: 5%;
}
.container {
    height: 100%;
}

#iframe-qa {
    margin-top: 2%;
    width: 100%;
    display: none;
    border:0px;
    height: 100%;
}

#qa-response {
    height: 80%;
}

html, body {
    height: 100%;
}